:root {
  --font: "Merriweather Sans", sans-serif;
  --dark-blue: #000839;
  --med-blue: #005082;
  --light-blue: #00a8cc;
  --yellow: #ffa41b;
  --form-font: "IBM Plex Mono", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper,
section {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: linear-gradient(290deg, var(--med-blue), var(--dark-blue));
  font-family: var(--font);
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

/* * {
  border: 1px solid red;
} */

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.btn {
  border-radius: 1rem;
  background: transparent;
  border: 2px solid var(--yellow);
  color: var(--yellow);
  font-size: 1.5rem;
  margin: 4rem auto;
  text-align: center;
}

.btn:hover {
  cursor: pointer;
}

.btn a {
  color: inherit;
  padding: 0.25rem 0.5rem;
}

.site {
  background: var(--yellow);
  color: var(--dark-blue);
  font-weight: bolder;
  border-color: var(--yellow);
}

nav {
  height: 60px;
  margin: 0;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  /* top: 0; */
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--dark-blue);
  color: var(--yellow);
  z-index: 10;
  transition: 0.3s;
  box-shadow: 0px 8px 8px rgba(0, 8, 57, 0.5);
}

#navbar {
  top: 0;
}

nav ul {
  display: flex;
  list-style: none;
}

.menu {
  background: transparent;
  max-width: 500px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 60px 0 0 2rem;
  position: absolute;
  z-index: 6;
  right: 0;
  top: -100%;
  transition: ease-in-out 0.75s;
  box-shadow: -5px 5px 8px 1px rgba(0, 8, 57, 0.5),
    -15px 20px 3px rgba(0, 8, 57, 0.1);
}

.invisible {
  right: 0;
  top: 0;
  background: var(--yellow);
}

.menu-list {
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.menu-link {
  color: var(--dark-blue);
  font-family: var(--font);
  font-size: 1.5rem;
  display: block;
  padding: 0.5rem;
  margin: 0.5rem auto;
  transition: ease-in 0.28s;
}

.menu-link:hover,
.menu-link:active,
.menu-link:focus {
  box-shadow: inset -80rem 0 0 0 var(--med-blue),
    -5px 9px 3px rgba(0, 8, 57, 0.5);
  border-color: var(--med-blue);
  color: #fff;
  transform: translateY(-3px);
}

.logo {
  color: inherit;
  font-size: 1.5rem;
  letter-spacing: 3px;
  margin-left: 1rem;
  transition: ease-in-out 0.35s;
}

.logo:hover,
.logo:focus,
.logo:active {
  transform: scale(1.2);
  color: #fff;
}

.logo:visited {
  color: var(--yellow);
  opacity: 0.9;
}

#hamburger {
  color: inherit;
  font-size: 1.5rem;
  margin-right: 1rem;
  position: static;
  padding: 0.25rem 0.5rem;
  border: 3px solid transparent;
  transition: ease-in-out 0.25s;
}

#hamburger:hover {
  border-radius: 4px;
  cursor: pointer;
  border-color: var(--yellow);
  color: #fff;
}

#sun {
  width: 8rem;
  height: 8rem;
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 0 8rem rgba(250, 250, 250, 0.9),
    0 0 12rem 1rem rgba(250, 250, 250, 0.5),
    0 0 16rem 2rem rgba(250, 250, 250, 0.2);
  transform: translateZ(-30px) scale(2);
  z-index: -3;
  margin-bottom: 90rem;
  margin-right: -40rem;
}

.hero__title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30%;
  left: auto;
  width: 100%;
  transform-style: preserve-3d;
  transform: translateZ(-10px) scale(2);
  z-index: -1;
  backdrop-filter: blur(10px);
  background: rgba(0, 8, 57, 0.6);
  /* border-radius: 12px; */
  text-align: center;
  color: var(--yellow);
  text-shadow: 0 0 10px black;
  max-width: 460px;
}

.title {
  font-size: 3rem;
  z-index: 1;
  margin: 0;
  padding: 2rem 2rem 0;
  line-height: 1.1;
  text-transform: uppercase;
}

hr {
  width: 70%;
  height: 3px;
  background: var(--yellow);
  border: none;
  max-width: 1250px;
}

.subtitle {
  font-size: 1.25rem;
  margin: 0 auto;
  padding: 1rem;
  word-spacing: 10px;
  text-transform: uppercase;
}

/*First child container of wrapper must be set to
"position: relative" "height: 100%" 
"transform-style: preserve-3d" and "z-index: -1"
*/
header {
  padding-top: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
  font-family: var(--font);
}

/*Elements that you want to move must have "position: absolute"
"height/width: 100%" "object-fit:cover" and "z-index: -1"*/

.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  /* padding-top: 200px; */
}

/* Element furthest away will have the highest "translateZ()" and 
"scale()" */
.background {
  padding-top: 5rem;
  transform: translateZ(-16px) scale(2.7);
}

/* As objects get closer to the screen, the "translateZ()"
and "scale()" will decrease proportionally to the wrapper 
"perspective" property*/
.foreground {
  transform: translateY(12rem) translateZ(-5px) scale(2);
  margin-bottom: 2rem;
}

/* the Wrapper is the most important part. It creates
a container to simulate the body and hold our parallax
effect. perspective is what the elements are based on when
setting the "transform: translateZ() scale()" properties */

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 2rem 2rem 4rem;
  background: linear-gradient(#000, #000, var(--dark-blue), var(--med-blue));
  color: var(--yellow);
  margin-top: 6rem;
  font-size: 1.5rem;
}

#about hr {
  margin: 2rem auto;
}

#about p {
  max-width: 600px;
}

#profile-img {
  border-radius: 100%;
  border: 8px solid var(--light-blue);
  width: 75%;
  max-width: 250px;
  margin: 2rem auto;
}

#resume-btn {
  transition: ease-in-out 0.35s;
  padding: 1rem 1.5rem;
  margin-bottom: 4rem;
  color: var(--yellow);
}

#resume-btn:hover,
#resume-btn:active,
#resume-btn:focus {
  background: var(--yellow);
  color: var(--dark-blue);
  font-weight: bolder;
  transition: ease-in-out 0.35s;
}

.heading {
  margin: 0 auto 1rem;
  line-height: 1;
  color: var(--light-blue);
  font-size: 2.5rem;
  text-align: center;
  max-width: 600px;
}

section p {
  line-height: 1.6;
  font-size: 1.25rem;
  transform: translateX(-5rem);
  opacity: 0;
  transition: ease-in-out 0.8s;
}

.single-project p {
  transform: translateX(0);
  opacity: 1;
}

.fade-in {
  transform: translateX(0);
  opacity: 1;
  transition: ease-in-out 0.5s;
}

#skills {
  position: relative;
  background: var(--yellow);
  padding: 4rem 2rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1573%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 164%2c 27%2c 1)'%3e%3c/rect%3e%3cpath d='M-150.5 310.03 a158.57 158.57 0 1 0 317.14 0 a158.57 158.57 0 1 0 -317.14 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1097.64 254.14 a156.41 156.41 0 1 0 312.82 0 a156.41 156.41 0 1 0 -312.82 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M279.38%2c382.663C338.624%2c385.502%2c401.432%2c361.167%2c427.639%2c307.959C451.955%2c258.59%2c417.917%2c205.917%2c389.708%2c158.663C362.555%2c113.178%2c332.302%2c61.938%2c279.38%2c59.604C223.664%2c57.147%2c177.061%2c98.926%2c150.804%2c148.128C126.121%2c194.38%2c128.64%2c248.869%2c153.842%2c294.84C180.154%2c342.837%2c224.707%2c380.043%2c279.38%2c382.663' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M256.297%2c257.028C309.743%2c258.759%2c359.882%2c228.551%2c385.626%2c181.682C410.495%2c136.404%2c404.159%2c81.266%2c376.957%2c37.35C351.221%2c-4.199%2c305.17%2c-27.378%2c256.297%2c-27.114C207.905%2c-26.852%2c162.013%2c-3.301%2c137.876%2c38.643C113.796%2c80.488%2c117.693%2c131.308%2c140.707%2c173.749C164.969%2c218.492%2c205.426%2c255.38%2c256.297%2c257.028' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M355.09 37.45 a155.97 155.97 0 1 0 311.94 0 a155.97 155.97 0 1 0 -311.94 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1144.999%2c585.518C1181.003%2c583.297%2c1211.274%2c561.84%2c1229.979%2c530.997C1249.528%2c498.762%2c1258.494%2c459.858%2c1241.662%2c426.125C1223.042%2c388.809%2c1186.684%2c359.441%2c1144.999%2c360.688C1104.874%2c361.889%2c1077.962%2c396.877%2c1057.861%2c431.625C1037.72%2c466.442%2c1019.868%2c507.733%2c1039.687%2c542.735C1059.696%2c578.073%2c1104.466%2c588.018%2c1144.999%2c585.518' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1166.78 250.06 a130.46 130.46 0 1 0 260.92 0 a130.46 130.46 0 1 0 -260.92 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M570.96 371.96 a179.45 179.45 0 1 0 358.9 0 a179.45 179.45 0 1 0 -358.9 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M613.809%2c631.526C653.854%2c631.462%2c687.924%2c604.675%2c707.233%2c569.593C725.821%2c535.819%2c724.828%2c496.015%2c707.285%2c461.687C687.811%2c423.581%2c656.563%2c388.635%2c613.809%2c386.785C568.413%2c384.821%2c525.931%2c412.515%2c505.19%2c452.943C485.969%2c490.409%2c497.989%2c533.913%2c519.871%2c569.89C540.73%2c604.185%2c573.669%2c631.59%2c613.809%2c631.526' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1006.26 14.24 a139.24 139.24 0 1 0 278.48 0 a139.24 139.24 0 1 0 -278.48 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1573'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 4s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
}

.fab {
  font-size: 4.5rem;
  color: var(--yellow);
}

.skills-heading {
  color: var(--dark-blue);
  margin-top: 0;
}

.skill-icon {
  width: 70%;
}

.skill-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1.5rem;
  margin: 3rem auto;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  padding: 0.75rem 1rem;
  text-align: center;
  border-radius: 0;
  background: var(--dark-blue);
  color: transparent;
  transition: ease-out 0.3s;
  z-index: 5;
  width: 100%;
  aspect-ratio: 1 / 1;
  max-width: 165px;
  transform: translateY(0.35rem) translateX(-0.35rem);
}

.icon-change {
  background: var(--dark-blue);
  color: var(--light-blue);
  border-radius: 40px;
  transition: ease-in-out 1s;
  transform: translateY(0) translateX(0);
  box-shadow: -8px 8px 3px rgba(0, 8, 57, 0.4);
}

.icon-container p {
  margin: 0;
  margin-top: 0.5rem;
  font-weight: bolder;
  padding: 0;
  font-size: 0.85rem;
  line-height: 1;
  color: inherit;
  opacity: 1;
  transform: translateX(0);
  transition: 0.1s;
}

.projects {
  background: var(--med-blue);
  color: var(--yellow);
  padding: 4rem 1rem;
}

.tools-used {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}

.tools-used li {
  border: 1px solid white;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  color: white;
  font-size: 0.6rem;
}

.tools-used :first-child {
  margin-left: 0;
}

.my-projects {
  color: var(--yellow);
  margin-bottom: 3rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  max-width: 900px;
  margin: 0 auto;
  justify-content: center;
}

@keyframes flash {
  0% {
    background: var(--yellow);
    color: var(--med-blue);
    /* border-color: var(--med-blue); */
  }
  50% {
    color: var(--yellow);
    background: var(--med-blue);
    border-color: var(--yellow);
  }
  100% {
    background: var(--yellow);
    color: var(--med-blue);
    /* border-color: var(--med-blue); */
  }
}

#new {
  animation-name: flash;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  font-family: "Pacifico", cursive;
  margin-top: 0;
  background: var(--yellow);
  color: var(--dark-blue);
  font-size: 1.5rem;
  padding: 0 0.5rem;
  display: inline-block;
  border-radius: 6px;
  border: 2px solid transparent;
}

.single-project {
  backdrop-filter: blur(10px);
  background: rgba(0, 8, 57, 0.8);
  padding: 1rem 2rem 2rem;
  border-radius: 10px;
  max-width: 450px;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.single-project h3 {
  font-weight: normal;
  color: var(--light-blue);
  font-size: 1rem;
  margin-top: 1rem;
}

.single-project em {
  font-size: 1.25rem;
  font-weight: bolder;
  color: var(--yellow);
  margin-right: 0.5rem;
}

.single-project img {
  background: var(--yellow);
  margin: 1rem auto;
}

.single-project p {
  font-size: 1rem;
}

.right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.links {
  margin: 2rem auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.links .btn {
  margin: 0 0.5rem;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  width: 90%;
}

.links .btn:hover,
.links .btn:focus,
.links .btn:active {
  background: var(--med-blue);
  color: var(--yellow);
  font-weight: bolder;
}

.links .site:hover,
.links .site:focus,
.links .site:active {
  background: var(--med-blue);
  font-weight: bolder;
}

.links .btn:first-child {
  margin-left: 0;
}

.contact-me-section {
  padding: 4rem 2rem;
  background: var(--yellow);
  color: var(--dark-blue);
  /* new below */
  position: relative;
}

.contact-me-section p {
  font-size: 1.25rem;
  margin: 0 auto 3rem;
  opacity: 1;
  transform: translateX(0);
  max-width: 600px;
  text-align: left;
}

.contact-heading {
  margin: 0 auto 2rem;
  color: var(--dark-blue);
  padding-bottom: 1rem;
  border-bottom: 4px solid var(--dark-blue);
  max-width: 400px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.contact-form {
  font-family: var(--form-font);
  font-size: 1.5rem;
  padding: 0.25rem;
  margin: 0.5rem auto;
  width: 100%;
  text-align: left;
  border: 3px solid var(--dark-blue);
}

.form-submit {
  position: absolute;
  bottom: 2rem;
  padding: 0.75rem 1.5rem;
  margin: 1rem 0;
  max-width: 300px;
  border-width: 4px;
  width: 70%;
  background: var(--dark-blue);
  color: #fff;
  align-self: center;
  transition: ease-in-out 0.3s;
  font-weight: normal;
}

.form-submit:hover,
.form-submit:active,
.form-submit:focus {
  color: var(--dark-blue);
  border-color: var(--dark-blue);
  transform: scale(1.1);
  font-size: 1.75rem;
  font-weight: bolder;
  letter-spacing: 2px;
  box-shadow: inset -20rem 0 0 0 var(--yellow), -5px 9px 3px rgba(0, 8, 57, 0.5);
  transform: translateY(-3px);
}

.contacts-container {
  background: var(--dark-blue);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 2rem;
  justify-items: flex-start;
}

.contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--yellow);
  font-size: 0.8rem;
}

.contact-icon {
  font-size: 2rem;
  padding: 1rem;
  color: var(--yellow);
}

.attribution {
  text-align: right;
  background: var(--dark-blue);
  padding: 2.5rem 1rem;
  font-size: 0.5rem;
  color: var(--yellow);
}

/* -----------  Media Query (min 450)
------------------------------ */

@media (min-width: 500px) {
  .hero__title_container {
    border-radius: 12px;
  }

  #about p {
    font-size: 1.25rem;
  }

  .skill-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 2rem;
    row-gap: 2.5rem;
  }

  .icon-container {
    transform: translateY(1rem) translateX(-1rem);
  }

  .icon-change {
    transform: scale(1.1);
  }

  .heading {
    font-size: 3rem;
  }

  .btn {
    padding: 1rem;
  }

  .projects-container {
    padding: 1rem;
  }

  .contact-me-section p {
    text-align: center;
  }

  .contact-link {
    font-size: 1rem;
  }

  .contacts-container {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
  }

  .attribution {
    font-size: 0.9rem;
  }
}

/* -----------  Media Query (min 1000)
------------------------------ */

@media (min-width: 1000px) {
  .hero__title_container {
    left: 23vw;
    top: -15vh;
    padding: 2rem;
    position: relative;
  }

  .wrapper {
    scrollbar-width: 15px;
  }

  .invisible {
    right: 25px;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 15px;
    z-index: 11;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--yellow);
    z-index: 11;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--dark-blue);
    border-color: var(--yellow);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--yellow);
    border: 3px solid var(--dark-blue);
  }

  #navbar {
    width: calc(100% - 15px);
  }

  .menu {
    right: 15px;
  }

  .foreground {
    margin-bottom: 11rem;
  }

  .background {
    transform: translateZ(-16px) scale(2.7) translateY(15vh);
  }

  #profile-img {
    margin-top: 4rem;
  }

  #about .heading {
    margin: 1rem auto 2rem;
    max-width: 100%;
  }

  #about p {
    margin: 0 auto 1.25rem;
  }

  .title,
  .subtitle {
    margin: 0;
    padding: 0;
  }

  #sun {
    margin-bottom: 0;
    position: relative;
    bottom: 90vh;
    left: 100vw;
    width: 12rem;
    height: 12rem;
  }

  #about hr {
    margin-bottom: 4rem;
  }

  .heading {
    font-size: 4rem;
    margin: 4rem auto 6rem;
  }

  .skill-container {
    row-gap: 4rem;
    column-gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .my-projects {
    margin: 2rem auto 5rem;
  }

  .links .btn {
    width: 80%;
  }

  .projects-container {
    gap: 5rem;
    padding: 4rem;
  }

  .contact-heading {
    margin: 2rem auto 4rem;
  }
}

/* -----------  Media Query (min 1200)
------------------------------ */

@media (min-width: 1200px) {
  .wrapper {
    scrollbar-width: 25px;
  }

  ::-webkit-scrollbar {
    width: 25px;
  }

  .btn a {
    padding: 0;
  }

  #navbar {
    width: calc(100% - 25px);
    height: 6rem;
  }

  .menu {
    right: 25px;
  }

  .invisible {
    top: 2rem;
  }

  #profile-img {
    margin: 8rem auto 4rem;
    max-width: 375px;
  }
  #about .heading {
    max-width: 100%;
    margin-bottom: 6rem;
  }

  .foreground {
    padding-top: 4rem;
    transform: translateZ(-5px) scale(1.8) translateY(5rem);
  }

  #about hr {
    margin: 0 auto 6rem;
  }

  #about p {
    font-size: 1.5rem;
  }

  .hero__title_container {
    left: 13vw;
    top: -15vh;
    max-width: 750px;
    padding: 6rem;
  }

  .skill-container {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    max-width: 1440px;
    margin: 2rem auto 6rem;
  }

  .icon-container {
    max-width: 250px;
  }

  .fab {
    font-size: 7rem;
  }

  .contact-icon {
    font-size: 2.5rem;
  }

  .icon-container p {
    font-size: 1.25rem;
  }

  .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(575px, 1fr));
    max-width: 1900px;
    margin-bottom: 8rem;
  }

  .single-project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 1100px;
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 2rem;
  }

  .left em,
  .left h3 {
    font-size: 1.5rem;
  }

  .tools-used li {
    font-size: 0.8rem;
    margin: 0 1rem 0.5rem 0;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .right p {
    font-size: 1.15rem;
  }

  .links {
    justify-content: flex-start;
  }

  .links .btn {
    margin-left: 2rem;
    width: 90%;
  }

  #contact p {
    font-size: 2rem;
    max-width: 900px;
  }

  form {
    max-width: 700px;
  }
}

/* -----------  Media Query (min 2000)
------------------------------ */

@media (min-width: 2000px) {
  .hero__title_container {
    padding: 4rem;
  }

  #about p {
    font-size: 2rem;
    max-width: 1000px;
    margin: 1rem auto 2rem;
  }

  #resume-btn {
    font-size: 2rem;
    margin-bottom: 4rem;
  }

  .left em,
  .left h3 {
    font-size: 1.75;
  }

  .tools-used li {
    font-size: 1.1rem;
  }

  #contact p {
    font-size: 2rem;
  }

  .contact-link {
    font-size: 1.25rem;
  }
}

/* * {
  border: 1px solid red;
} */
